| {% extends 'flamenco/projects/view.html' %}
| {% block bodyattrs %}{{ super() }} data-context='manager'{% endblock %}
| {% block page_title %}Flamenco Managers{% endblock %}

| {% block flamencobody %}
#col_main.manager-index
	#col_main-content
		.col_header.item-list-header
			| Your Flamenco Managers

		.item-list.col-scrollable
			.table
				.table-head
					.table-row
						.table-cell.item-name
							span.collapser(title="Collapse name column") Name
						.table-cell.item-priority
							span.collapser(title="Collapse priority column") Projects

				.table-body
					| {% for manager in managers['_items'] %}
					| {% set link_url = url_for('flamenco.managers.view_embed', manager_id=manager._id) %}
					.table-row(id="manager-{{ manager._id }}")
						.table-cell.item-name
							a(data-manager-id="{{ manager._id }}",
								href="{{ link_url }}",
								class="manager-link")
								span(class="manager-name-{{ manager._id }}") {{ manager.name }}
						.table-cell.item-projects
							a(data-manager-id="{{ manager._id }}",
								href="{{ link_url }}",
								class="manager-link")
								span(class="manager-projects-{{ manager._id }}") {{ manager.projects|hide_none|count }}
					| {% endfor %}

			#item-action-panel
				| {% if can_create_manager %}
				button.btn(onclick='createNewManager(this)') Create new Manager (max {{max_managers}})
				#create_manager_result_panel
				| {% endif %}
				| {% if may_use_flamenco and not can_create_manager %}
				button.btn(disabled) Create new Manager (max {{max_managers}})
				| {% endif %}

#col_right
	.col_header
		span.header_text
	#item-details.col-scrollable
		.item-details-empty
			| Select a Manager
| {% endblock %}


| {% block footer_scripts %}
script(src="{{ url_for('static_pillar', filename='assets/js/vendor/jquery.typeahead-0.11.1.min.js')}}")
script(src="{{ url_for('static_pillar', filename='assets/js/vendor/algoliasearch-3.19.0.min.js')}}")
script(src="{{ url_for('static_pillar', filename='assets/js/vendor/jquery.autocomplete-0.22.0.min.js') }}", async=true)

script.
	{% if open_manager_id %}
		$(function() { item_open('{{ open_manager_id }}', 'manager', false); });
	{% endif %}
	{% if can_create_manager %}
	function createNewManager(button) {
		$(button)
			.attr('disabled', 'disabled')
			.fadeTo(200, 0.1);
		$('#create_manager_result_panel').html('');

		// TODO: create a form to get the name and description from the user.
		$.post(
			'{{ url_for('flamenco.managers.create_new') }}',
			{
				name: 'Manager',
				description: '',
			}
		)
		.done(function() {
			var $p = $('<p>').text('Manager created, reloading list.')
			$('#create_manager_result_panel').html($p);

			window.location.reload();
		})
		.fail(function(err) {
			var $p = xhrErrorResponseElement(err, 'Error creating Manager: ');
			$('#create_manager_result_panel').html($p);

			$(button)
				.fadeTo(1000, 1.0)
				.queue(function() {
					$(this)
						.removeAttr('disabled')
						.dequeue()
					;
				})
		})
		;
	}
	{% endif %}
| {% endblock %}
