| {% extends 'flamenco/project_settings/flamenco_layout.html'  %}

| {% block flamenco_container %}
#node-edit-form

	h3 Flamenco Managers
	p
		a(href="{{ url_for ('flamenco.managers.index' ) }}") Manage Managers

	hr

	| {% if linked_managers._meta.total > 0 %}
	p Manager{{ linked_managers._meta.total|pluralize }} linked to this project:

	ul.list-generic
		|   {% for manager in linked_managers._items %}
		li
			.action
				a.btn(
					href="javascript:clickUnlinkProject('{{ manager._id }}')",
					title="Un-link {{ manager.name }} from this project")
					i.pi-unlink
					| Un-link
			a(
				href="{{ url_for ('flamenco.managers.view_embed', manager_id=manager._id ) }}",
				title="Click to view {{ manager.name }}")
				| {{ manager.name }}

		|   {% endfor %}
	| {% else %}
	|   {% if managers._meta.total == 0 %}
	p You have no Flamenco Manager.
	|   {% elif managers._meta.total == 1 %}
	p You have one Manager "{{ first_manager.name }}" available to you.
		button.btn.btn-default(onclick="clickLinkProject('{{ first_manager._id }}')") Use it for this project

	|   {% else %}
	p.
		There are <strong>{{ managers._meta.total }} manager{{ managers._meta.total|pluralize }}</strong>
		available to you. Choose which one to use for this project:

	ul.list-generic
		| {% for manager in managers._items %}
		li
			.action
				a.btn.btn-success(
					href="javascript:clickLinkProject('{{ manager._id }}')",
					title="Link {{ manager.name }} to this project")
					i.pi-link
					| Link
			a(
				href="{{ url_for ('flamenco.managers.view_embed', manager_id=manager._id ) }}",
				title="Click to view {{ manager.name }}")
				| {{ manager.name }}

		|   {% endfor %}

	|   {% endif %}
	| {% endif %}
.action-result-panel


| {% endblock flamenco_container %}
| {% block footer_scripts %}
script.
	function clickUnlinkProject(manager_id) {
		var project_id = '{{ project._id }}';
		unlinkProject(manager_id, project_id)
		.done(function() { window.location.reload(); });
	}

	function clickLinkProject(manager_id) {
		var project_id = '{{ project._id }}';
		linkProject(manager_id, project_id)
		.done(function() { window.location.reload(); });
	}

| {% endblock %}
