.flamenco-box.task.with-status(
	class="status-{{ task.status }}")
	form#task_form(onsubmit="return false")
		input(type='hidden',name='_etag',value='{{ task._etag }}')
		.input-group
			span.item-name {{ task.name | hide_none }}

			.dropdown(style='margin-left: auto')
				button#item-dropdown.btn.btn-outline-secondary.dropdown-toggle(
					type='button',
					data-toggle='dropdown',
					aria-haspopup='true', aria-expanded='true')
					i.pi-more-vertical
				ul.dropdown-menu(aria-labelledby='item-dropdown')
					li.copy-to-clipboard-id(data-clipboard-text="{{ task._id }}")
						a(href="javascript:void(0)")
							i.pi-clipboard-copy
							| Copy task ID to Clipboard
					li
						a(href="{{ url_for('flamenco.tasks.perproject.download_task_log', project_url=project.url, task_id=task._id) }}",
							target="_blank")
							i.pi-download
							| Download Task Log
					li
						a(href="{{ url_for('flamenco.jobs.perproject.view_job_depsgraph', project_url=project.url, job_id=task.job, t=task._id) }}",
							target="_blank")
							i.pi-share
							| Show partial depsgraph around this task

		| {% if task.description %}
		p.item-description {{ task.description | hide_none }}
		| {% endif %}

		.table.item-properties
			.table-body
				.table-row.properties-status.js-help(
					data-url="{{ url_for('flamenco.help', project_url=project.url) }}")
					.table-cell Status
					.table-cell(class="status-{{ task.status }}")
						| {{ task.status | undertitle }}
				.table-row
					.table-cell Task type
					.table-cell {{ task.task_type | default("unknown", true) }}
				.table-row
					.table-cell Last Update
					.table-cell(title="{{ task._updated }}")
						span(role='button',
							data-toggle='collapse',
							data-target='#task-time-creation',
							aria-expanded='false',
							aria-controls='#task-time-creation')
							| {{ task._updated | pretty_date_time }}
						#task-time-creation.collapse
							| Created on {{ task._created | pretty_date_time }}
				.table-row
					.table-cell Priority
					.table-cell {{ task.priority }}
				//- .table-row
				//- 	.table-cell Task progress
				//- 	.table-cell {{ task.task_progress_percentage }}%
				.table-row
					.table-cell Activity
					.table-cell {{ task.activity }}
				.table-row
					.table-cell Worker
					.table-cell {{ task.worker }}

| {% if can_view_log %}
.flamenco-box.task
	span.header-title Last Task Log Lines
	pre.last-log-lines
		| {{ task.log }}

| {% endif %}

#item-action-panel
	| {% if can_view_log %}
	| {% if task.log %}
	//- This means new-style on-manager logging is used (task.log is only the last few lines).
	a.btn.btn-success.item-log-link(
			href="{{ log_download_url }}",
			target="_blank",
			title="Note that this requires you to be able to access this Flamenco Manager directly")
		i.pi-list
		| View Log on Manager
	| {% else %}
	//- This means old-style on-server logging is used.
	button.btn.item-log-load.js-log-load(
		data-url="{{ url_for('flamenco.tasks.perproject.view_task_log', project_url=project.url, task_id=task._id) }}")
		i.pi-list
		| View Log
	| {% endif %}
	| {% endif %}

	.pull-right
		| {% if can_requeue_task %}
		button.btn.btn-success.requeue-task(onclick="setTaskStatus('{{ task._id }}', 'queued')")
			i.pi-refresh
			| Re-queue Single Task
		button.btn.btn-success.requeue-task(onclick="requeueTaskAndSuccessors('{{ task._id }}')")
			i.pi-refresh
			| Re-queue Task + Successors
		| {% endif %}
		.action-result-panel

| {% if can_view_log %}
#item-log.task
| {% endif %}

| {% if config.DEBUG %}
.debug-info
	a.debug-info-toggle(role='button',
		data-toggle='collapse',
		href='#debug-content-task',
		aria-expanded='false',
		aria-controls='debug-content-task')
		i.pi-info
		| Debug Info
	#debug-content-task.collapse
		pre.
			{{ task.to_dict() | pprint }}
	| {% endif %}

script.
	new Clipboard('.copy-to-clipboard-id')
	.on('success', function(e) {
		statusBarSet('info', 'Copied task ID to clipboard', 'pi-check');
	});

	$('.js-help').openModalUrl('Help', "{{ url_for('flamenco.help', project_url=project.url) }}");

	// Notify the rest of the page that this task is showing.
	document.body.dataset.taskId = '{{ task._id }}';
	$('#task-{{ task._id }}').addClass('active');

	setupJsJobLinkClickHandlers();

	// Task Logs
	$('.js-log-load').on('click', function(){
		var url = $(this).data('url');
		var container = $('#item-log.task');

		$(container).html('<div class="item-log-loader"><i class="pi-spin spin"></i></div>');
		getTaskLog(url, $(container)); // on tasks.js
	});

	// Close Task Details
	function closeTaskDetails(){
		// Notify the rest of the page that this task is no longer showing.
		$('#task-{{ task._id }}').removeClass('active');
		delete document.body.dataset.taskId;

		clearMainOverlay();

		// Push the correct URL onto the history.
		push_url = '/flamenco/{{ project.url }}/jobs/{{ task.job }}';
		var push_state = {itemId: '{{ task._id }}', itemType: 'task'};
		window.history.pushState(
						push_state,
						'task: ' + '{{ task._id }}',
						push_url
		);
	}

	$('#col_main-overlay-close').on('click', closeTaskDetails);
