| {% extends 'flamenco/layout.html' %}
| {% block bodyattrs %}{{ super() }} data-context='dashboard'{% endblock %}
| {% block page_title %}Dashboard{% endblock %}

| {% block style %}
style.
	#col_right section {
		margin: 2ex;
	}

	#col_right section p {
		line-height: 180%;
		hyphens: auto;
		text-align: center;
	}
| {% endblock %}

| {% block body %}
#col_main
	.dashboard
		.d-stats.pt-2.px-2
			span.h4 Flamenco

			| {% for proj, summary in projs_with_summaries %}
			.d-stats-card
				h6
					a.text-muted(href="{{ url_for('flamenco.jobs.perproject.index', project_url=proj.url) }}") {{ proj.name }}

					span.float-right
						a.text-muted(href="{{ url_for('flamenco.jobs.perproject.index', project_url=proj.url) }}") Jobs&nbsp;
				.progress
					| {% for status, percentage in summary.percentages() %}
					.progress-bar.bg-status(
						class="status-{{status}}",
						title="{{ status | undertitle }} ({{percentage}}%)",
						role="progressbar",
						style="width:{{percentage}}%")
					| {% endfor %}

				.d-stats-card-legend
					| {% for status, percentage in summary.percentages() %}
					label.d-stats-card-item(
						class="status-{{status}}",
						title="{{ status | undertitle }} ({{percentage}}%)")
						| {{percentage|default('<1', true)}}% {{ status | undertitle }}
					| {% endfor %}
			| {% endfor %}

#col_right
	.d-welcome
		.welcome-logo
			i.pi-flamenco
		.welcome-title Welcome to Flamenco

		.welcome-text
			p Your Render Management Software

	.text-center.p-3
		| For documentation, downloads, and everything you need for running
		| Flamenco on your own server, visit #[a(href='https://www.flamenco.io/', target='_blank') flamenco.io].

| {% endblock %}
