| {% extends 'flamenco/layout.html' %}
| {% block bodyattrs %}{{ super() }} data-context='dashboard'{% endblock %}
| {% block page_title %}Dashboard{% endblock %}

| {% block body %}
#col_main
	.dashboard
		.d-stats
			h4
				i.pi-flamenco
				|  Flamenco

			| {% for proj, summary in projs_with_summaries %}
			.d-stats-card
				h4
					a(href="{{ url_for('flamenco.jobs.perproject.index', project_url=proj.url) }}") {{ proj.name }}

					span.pull-right
						a(href="{{ url_for('flamenco.jobs.perproject.index', project_url=proj.url) }}") Jobs&nbsp;
				.progress
					| {% for status, percentage in summary.percentages() %}
					.progress-bar.bg-status(
						class="status-{{status}}",
						title="{{ status | undertitle }} ({{percentage}}%)",
						role="progressbar",
						style="width:{{percentage}}%")
					| {% endfor %}

				.d-stats-card-legend
					| {% for status, percentage in summary.percentages() %}
					label.d-stats-card-item(
						class="status-{{status}}",
						title="{{ status | undertitle }} ({{percentage}}%)")
						| {{percentage|default('<1', true)}}% {{ status | undertitle }}
					| {% endfor %}
			| {% endfor %}

| {% endblock %}
