| {% extends 'flamenco/layout.html' %}
| {% block bodyattrs %}{{ super() }} data-context='{{ page_context }}'{% endblock %}
| {% block page_title %}Jobs - {{ project.name }}{% endblock %}
| {% block body %}
#col_main
	#col_main-overlay
		#col_main-overlay-close
			i.pi-cancel
		.col_header
			span.header_text Task Details
		#col_main-overlay-content.col-scrollable

	#col_main-content
		.col_header.item-list-header
			// TODO: implement the stats
			span.header_text(title='In the current project') {{ stats.nr_of_jobs }} jobs | {{ stats.nr_of_tasks }} tasks
			a.item-project(href="{{url_for('projects.view', project_url=project.url)}}") {{ project.name }}

		.item-list.col-scrollable
			.table
				.table-head
					.table-row
						.table-cell.item-status
							span.collapser(title="Collapse status column") Status
						.table-cell.item-name
							span.collapser(title="Collapse name column") Name
						.table-cell.item-manager
							span.collapser(title="Collapse manager column") Manager
						.table-cell.item-priority
							span.collapser(title="Collapse priority column") Priority

				.table-body
					| {% for job in jobs %}
					.table-row(
						id="job-{{ job._id }}",
						class="status-{{ job.status }}{% if job._id == open_job_id %} active{% endif %}")
						.table-cell.item-status
							a(data-job-id="{{ job._id }}",
								href="{{ job.url }}",
								class="job-link")
								| {{ job.status | undertitle }}
						.table-cell.item-name
							a(data-job-id="{{ job._id }}",
								href="{{ job.url }}",
								class="job-link")
								span(class="job-name-{{ job._id }}") {{ job.name }}
						.table-cell.item-manager
							a(data-job-id="{{ job._id }}",
								href="{{ job.url }}")
								| {{ job.manager_name }}
						.table-cell.item-priority
							a(data-job-id="{{ job._id }}",
								href="{{ job.url }}")
								span(class="job-priority-{{ job._id }}") {{ job.priority }}
					| {% endfor %}

.col-splitter

#col_right
	.col_header
		span.header_text
		#status-bar
	#item-details.col-scrollable
		.item-details-empty
			| Select a Job
			| {{ open_job_id | hide_none }}

| {% endblock %}
| {% block footer_scripts %}
script.
	{% if open_task_id %}
		$(function() { item_open('{{ open_task_id }}', 'task', false); });
	{% endif %}
	{% if open_job_id %}
		$(function() { item_open('{{ open_job_id }}', 'job', false); });
	{% endif %}

	var same_cells;

	/* Collapse columns by clicking on the title */
	$('.table-head .table-cell span.collapser').on('click', function(e){
		e.stopPropagation();

		/* We need to find every cell matching the same classes */
		same_cells = '.' + $(this).parent().attr('class').split(' ').join('.');
		$(same_cells).hide();
		/* Add the spacer which we later click to expand  */
		$('<div class="table-cell-spacer ' + $(this).text() + '" title="Expand ' + $(this).text() + '"></div>').insertAfter(same_cells);
	});

	$('body').on('click', '.table-cell-spacer', function(){
		/* We need to find every cell matching the same classes */
		same_cells = '.' + $(this).prev().attr('class').split(' ').join('.');
		$(same_cells).show();
		$(same_cells).next().remove();
	});

	/* Highlight the corresponding cell type in the header */
	$('.table-body .table-cell').mouseenter(function(){
		same_cells = '.' + $(this).attr('class').split(' ').join('.');
		$('.table-head ' + same_cells).addClass('highlight');
	}).mouseleave(function(){
		same_cells = '.' + $(this).attr('class').split(' ').join('.');
		$('.table-head ' + same_cells).removeClass('highlight');
	});

	/* Highlight the corresponding cell type in the body */
	$('.table-head .table-cell').mouseenter(function(){
		same_cells = '.' + $(this).attr('class').split(' ').join('.');
		$('.table-body ' + same_cells).addClass('highlight');
	}).mouseleave(function(){
		same_cells = '.' + $(this).attr('class').split(' ').join('.');
		$('.table-body ' + same_cells).removeClass('highlight');
	});

script(src="{{ url_for('static_flamenco', filename='assets/js/vendor/clipboard.min.js')}}")
script(src="{{ url_for('static_flamenco', filename='assets/js/vendor/jquery-resizable.min.js')}}")
script.
	$("#col_main").resizable({
		handleSelector: ".col-splitter",
		resizeHeight: false
	});

	$(window).on('load resize', function(){
		var window_height = $(window).height() - 55; // header is 55px
		$('.col-scrollable').css({'height': window_height});
	});

| {% endblock footer_scripts %}
