| {% extends 'projects/view.html' %}
include ../../../../../pillar/src/templates/mixins/components

| {% set title = 'production-tools' %}

| {% block css %}
| {{ super() }}
link(href="{{ url_for('static_flamenco', filename='assets/css/main.css') }}", rel="stylesheet")
link(href="{{ url_for('static_flamenco', filename='assets/img/favicon.png') }}", rel="shortcut icon")
| {% endblock css %}

| {% block head %}
script(src="{{ url_for('static_flamenco', filename='assets/js/generated/tutti.min.js') }}")
script(src="{{ url_for('static_pillar', filename='assets/js/vendor/clipboard.min.js')}}")
| {% endblock head %}

| {% block body %}
#app-main
	#col_sidebar
		nav.sidebar(role='navigation')
			ul
				li
					a.navbar-item.flamenco(href="{{ url_for('flamenco.index') }}",
						title='Flamenco')
						i.pi-flamenco
				li
					a.navbar-item.managers(href="{{ url_for('flamenco.managers.index') }}",
					title='Your Flamenco Managers') Mngrs
				| {% if session.get('flamenco_last_project') %}
				| {% set flamenco_last_project = session.get('flamenco_last_project') %}
				li
					a.navbar-item.jobs(href="{{ url_for('flamenco.jobs.perproject.index', project_url=flamenco_last_project.url) }}",
					title='Jobs for project {{ flamenco_last_project.name }}') Jobs
				li
					a.navbar-item.archive(href="{{ url_for('flamenco.jobs.archive.perproject.index', project_url=flamenco_last_project.url) }}",
					title='Jobs archive for project {{ flamenco_last_project.name }}') Archive
				| {% endif %}
			
	| {% block flamencobody %}
	| {% endblock flamencobody %}
| {% endblock body %}

| {% block footer_scripts_pre %}
script(src="{{ url_for('static_pillar', filename='assets/js/vendor/jquery.select2.min.js') }}", async=true)
| {% if project %}
script.
	ProjectUtils.setProjectAttributes({projectId: "{{project._id}}", projectUrl: "{{project.url}}"});
| {% endif %}
| {% endblock footer_scripts_pre %}
